body {
  background-color: #111827;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #8b5cf6;
  font-size: 45px;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #8b5cf6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

